@font-face {
  font-family: 'norseBold';
  src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
       url('fonts/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  box-sizing: border-box;
}
body {
  min-width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: rgb(253, 250, 250);
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.bigContainer {
  flex: 2;
  width: 100rem;
}

.smallContainer {
  display: flex;
  flex: 1;
  background-image: url(lionPicture.jpg);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0;
  margin: 0;
  justify-content: center;
  position: relative
}

cite {
  color: white;
  align-self: end;
}

a {
  color: white;
}

a:visited {
  color: wheat
}

.logoContainer {
  display: flex;
  color: wheat;
  position: absolute;
  top: 150px;
  text-align: center;
  background-color: black;
  width: 100%;
  height: 140px;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}

span::before {
  display: inline-block;
  content: "";
  background-image: url(odin-lined.png);
  height: 120px;
  width: 90px;
  background-size: 100%;
}

.logoContainer > h1 {
  font-family: "norseBold";
  font-size: 5rem;
}

cite {
  margin: 1rem;
}

.bigContainer > div {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-top: 7rem;
  width: 100%;
  font-size: clamp(1.5rem, 1.2vw + 0.75rem, 2.5rem);
}

p {
  margin-left: 5rem;
  margin-right: 5rem;
}

form > div {
  background-color: white;
}

.verticalContainer {
  display: flex;
  flex-direction: column;
}

input {
  margin: 7px;
  border-radius: 4px;
  height: 30px;
  border: 1px solid #E5E7EB;
  width: 15rem;
}

label {
  margin-left: 7px;
}

h2 {
  margin: 0;
  padding: 10px 0px 10px 7px;
}

input:focus {
  outline: none;
  border: 1px solid blue;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.26);
}

input[type="password"]:invalid {
  border: 1px solid red;
}